@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q6t5q');
  src:  url('fonts/icomoon.eot?q6t5q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q6t5q') format('truetype'),
    url('fonts/icomoon.woff?q6t5q') format('woff'),
    url('fonts/icomoon.svg?q6t5q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
.icon-star-full:before {
  content: "\e901";
}
.icon-user-solid-circle:before {
  content: "\e902";
}
.icon-add-outline:before {
  content: "\e903";
}
.icon-arrow-thin-down:before {
  content: "\e904";
}
.icon-arrow-thin-left:before {
  content: "\e905";
}
.icon-arrow-thin-right:before {
  content: "\e906";
}
.icon-arrow-thin-up:before {
  content: "\e907";
}
.icon-checkmark-outline:before {
  content: "\e908";
}
.icon-checkmark:before {
  content: "\e909";
}
.icon-cheveron-down:before {
  content: "\e90a";
}
.icon-cheveron-left:before {
  content: "\e90b";
}
.icon-cheveron-right:before {
  content: "\e90c";
}
.icon-cheveron-up:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
