@font-face {
  font-family: 'icomoon';
  src: url("/fonts/zon/fonts/icomoon.eot?q6t5q");
  src: url("/fonts/zon/fonts/icomoon.eot?q6t5q#iefix") format("embedded-opentype"), url("/fonts/zon/fonts/icomoon.ttf?q6t5q") format("truetype"), url("/fonts/zon/fonts/icomoon.woff?q6t5q") format("woff"), url("/fonts/zon/fonts/icomoon.svg?q6t5q#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-heart:before {
  content: "\e900"; }

.icon-star-full:before {
  content: "\e901"; }

.icon-user-solid-circle:before {
  content: "\e902"; }

.icon-add-outline:before {
  content: "\e903"; }

.icon-arrow-thin-down:before {
  content: "\e904"; }

.icon-arrow-thin-left:before {
  content: "\e905"; }

.icon-arrow-thin-right:before {
  content: "\e906"; }

.icon-arrow-thin-up:before {
  content: "\e907"; }

.icon-checkmark-outline:before {
  content: "\e908"; }

.icon-checkmark:before {
  content: "\e909"; }

.icon-cheveron-down:before {
  content: "\e90a"; }

.icon-cheveron-left:before {
  content: "\e90b"; }

.icon-cheveron-right:before {
  content: "\e90c"; }

.icon-cheveron-up:before {
  content: "\e90d"; }

.icon-close:before {
  content: "\e90e"; }

* {
  box-sizing: border-box;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-fill-mode: forwards;
  transition: all 0.3s; }

body {
  background: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  color: #7a7a7a;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    color: #7326ff; }

h1, h2, h3 {
  margin: 0;
  color: black;
  letter-spacing: -0.6px;
  font-weight: 800; }

h1 {
  font-size: 30px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 3px; }

h2 {
  font-size: 62px;
  line-height: 130%;
  animation-duration: 3s;
  margin-top: -40px; }

h3 {
  font-size: 36px;
  margin-bottom: 20px; }

h4 {
  font-size: 24px;
  margin: 10px 0; }

p {
  line-height: 1.4;
  margin: 0; }

img {
  border-radius: 4px; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding-right: 40px;
  padding-left: 40px; }
  @media (max-width: 600px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }

.hero {
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto; }
  .hero__content {
    position: relative;
    height: 634px;
    max-width: 800px;
    display: table-cell;
    vertical-align: middle; }
  .hero__image {
    width: 600px;
    height: auto;
    position: absolute;
    right: 0;
    top: calc( 50vh - 317px );
    z-index: -100;
    opacity: 0.85;
    animation-name: main_image;
    animation-duration: 3s;
    transition: none; }

.header {
  padding: 30px 0 0;
  display: flex;
  align-items: center; }

.menu {
  margin-left: 20px; }
  .menu a {
    position: relative;
    margin-left: 26px;
    display: inline-block;
    font-size: 90%;
    color: #777; }
    .menu a:before {
      position: absolute;
      content: '';
      height: 1px;
      background: black;
      width: 0;
      left: -6px;
      top: calc(50% + 1px);
      right: 0;
      transition: all .3s; }
    .menu a:hover {
      color: #000;
      opacity: 1; }
    .menu a:hover:before {
      width: calc(100% + 12px); }

.grid {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px; }
  .grid--single {
    grid-template-columns: 1fr;
    grid-gap: 0; }
  .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media (min-width: 480px) {
    .grid-item:first-child {
      grid-area: 1 / 1 / span 2 / span 2; } }

div#first-project {
  margin-top: 12em; }

.project {
  margin-bottom: 8em; }

.footer {
  font-size: 70%;
  padding-bottom: 50px; }

.overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); }

.project-list__text {
  position: absolute;
  top: 9rem;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1280px;
  padding-left: 40px;
  margin: auto; }
  .project-list__text h2 {
    color: #fff;
    font-size: 82px; }

.post-header {
  padding: 8rem 0 2rem; }
  .post-header__title {
    font-size: 110px;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -1px;
    max-width: 980px; }
    @media (max-width: 1280px) {
      .post-header__title {
        font-size: 9vw; } }
    @media (max-width: 720px) {
      .post-header__title {
        font-size: 12vw; } }

.post-list {
  margin: 3rem 0 5rem; }

.post-list__title {
  margin-bottom: 1rem; }

.post-list__meta {
  display: block;
  margin-bottom: 2.8rem; }

.post-list__tags {
  display: inline-block; }

.single-post p, .single-post ol, .single-post ul {
  max-width: 860px;
  line-height: 1.4;
  margin-bottom: 2rem;
  font-size: 20px; }
  @media (max-width: 720px) {
    .single-post p, .single-post ol, .single-post ul {
      font-size: 18px; } }
.single-post img {
  max-width: 100%;
  height: auto; }

.post-hero {
  margin-bottom: 4rem;
  padding-bottom: 56%;
  position: relative; }
  @media (min-width: 1099px) {
    .post-hero {
      padding-bottom: 44%; } }

.post-footer-navigation {
  padding: 2rem 0 5rem; }
  .post-footer-navigation__label {
    font-size: 74%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .75rem; }
  .post-footer-navigation__link {
    font-size: 1.2rem; }

/*# sourceMappingURL=main.css.map */
