<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>{{.Title}}</title>
    <!-- Meta -->
    {{- if eq .Kind "page" }}
    <meta name="description" content="{{ .Params.description }}">
    <meta name="author" content="{{ .Params.author | default .Site.Params.author }}"> {{ else }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}"> {{ end -}}
    <!-- Styles -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" href="/img/favicon.ico">
    <!-- Generator -->
    <meta name="generator" content="Hugo {{ .Hugo.Version }}">
    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" href="/index.xml" title="{{ .Site.Title }}">
</head>

<body class="{{if eq .Kind `page` }}single{{else}}list{{end}}">
    {{ partial "header.html" . }}
    {{ block "main" . }}

    {{ end }}
    {{ partial "footer.html" . }}
</body>
</html>
