{{ define "main" }}
<div class="container">
    <header class="post-header">
      <h1 class="post-header__title">{{ .Title }}</h1>
    </header>
</div>

{{ if where .Data.Pages "Section" "projects" }}
    <section class="post-list">
      {{ range where .Data.Pages "Section" "projects" }}
        <div class="project-list__item post-hero" style="background: url('{{ .Params.post_thumbnail }}'); background-position: center; background-size: cover;">
          <a href="{{ .Permalink }}" class="overlay"></a>
         <div class="project-list__text container"><a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a></div>
       </div>
      {{ end }}
    </section>
{{else}}
  <div class="container">
    <section class="post-list">
      {{ range .Data.Pages }}
      <h3 class="post-list__title"><a href="{{.Permalink}}">{{.Title}}</a></h3>
      <div class="post-list__meta">
        <time class="post-list__date">{{.Date.Format "Mon, Jan 2, 2006"}}</time> {{if .Params.tags }}–{{end}}
        <div class="post-list__tags">
          {{ range .Params.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{end}}
        </div>
      </div>
      {{end}}
    </section>
  </div>
{{end}}

{{ end }}
