{{ define "main" }}
<article class="single-post">
  <div class="container">
    <header class="post-header">
      <h1 class="post-header__title">{{ .Title }}</h1>
    </header>
    <div class="post-list__meta">
      <time class="post-list__date">{{.Date.Format "Mon, Jan 2, 2006"}}</time> {{if .Params.tags }}–{{end}}
      <div class="post-list__tags">
        {{ range .Params.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{end}}
      </div>
    </div>
  </div>

  {{ if .Params.post_thumbnail }}
  <div class="post-hero" style="background: url('{{ .Params.post_thumbnail }}'); background-position: center; background-size: cover; background-attachment: fixed;"></div>
  {{end}}

  <div class="container">
    <div class="post-content">
    {{ .Content }}
    </div>

    {{if .PrevInSection }}
    <div class="post-footer-navigation">
        {{ with .PrevInSection }}
          <!-- <div class="post-footer-navigation__label">Previous</div> -->
          <a class="post-footer-navigation__link" href="{{.Permalink}}"><i class="icon-cheveron-left"></i> {{.Title}}</a>
        {{ end }}
    </div>
    {{end}}
  </div>
</article>
{{ end }}
