<div class="container">
  <header class="header">
      <a href="/">
          <h1>Drew Kramer</h1>
      </a>
      <div class="menu">
          {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
      </div>
      </nav>
  </header>
</div>
