{{ define "main" }}
<div class="container">
    <div class="hero">
        <div class="hero__image">
            <img src="https://picsum.photos/1100/900" alt="">
        </div>
        <div class="hero__content">
            <h2>Designer and artist helping startups communicate better with people through products, illustrations & motion</h2>
        </div>
    </div>
</div>

    {{ range where .Data.Pages "Section" "projects" }}
      <div class="project-list__item post-hero" style="background: url('{{ .Params.post_thumbnail }}'); background-position: center; background-size: cover;">
        <a href="{{ .Permalink }}" class="overlay"></a>
       <div class="project-list__text"><a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a></div>
     </div>
    {{ end }}

    <!-- <div class="project" id="first-project">
        <h3>Pennys Ice Cream</h3>
        <p>
            Web design and branding for a <a href="#"><strong>local ice cream</strong></a> company. Fun colors and simple graphics perfectly identify Penny's.
        </p>
        <a href="#" data-action="" target="_blank"></a>
            <div class="grid grid--single">
                <div class="grid-item"><img src="https://picsum.photos/1440/600/"></div>
            </div>
        </a>
    </div>
    <div class="project">
        <h3>Pennys Ice Cream</h3>
        <p>
            Web design and branding for a
            <a href="#">
                <strong>local ice cream</strong>
            </a> company. Fun colors and simple graphics perfectly identify Penny's.
        </p>
        <a href="#" data-action="" target="_blank">
            <div class="grid">
                <div class="grid-item"><img src="https://picsum.photos/800/600/"></div>
                <div class="grid-item"><img src="https://picsum.photos/800/600/"></div>
                <div class="grid-item"><img src="https://picsum.photos/800/600/"></div>
                <div class="grid-item"><img src="https://picsum.photos/800/600/"></div>
                <div class="grid-item"><img src="https://picsum.photos/800/600/"></div>
            </div>
        </a>
    </div>
    <div class="project">
        <h3>Contact</h3>
        <p>
            For partnerships, business inquiries, or just for saying hi: reach out to <a href="mailto:hello@drewkramer.co"><strong>hello@drewkramer.co</strong></a>.
        </p>
    </div> -->

{{end}}
