@import '_icons.scss';

* {
  box-sizing: border-box;
  animation-timing-function: cubic-bezier(0,0,0,1);
  animation-fill-mode: forwards;
  transition: all 0.3s;
}

body {
  background: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size:16px;
  font-weight:400;
  color:#7a7a7a;
  -webkit-font-smoothing:antialiased;
  margin: 0;
}

a {
  text-decoration:none;
  color:black;
  &:hover {
    color:#7326ff;
  }
}
h1,h2,h3 {
  margin:0;
  color:black;
  letter-spacing: -0.6px;
  font-weight: 800;
}
h1 {
  font-size:30px;
  display:inline-block;
  text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
}
h2 {
  font-size:62px;
  line-height:130%;
   animation-duration: 3s;
  margin-top:-40px;
}
h3 {
  font-size: 36px;
  margin-bottom:20px;
}
h4 {
  font-size: 24px;
  margin: 10px 0;
}
p {
  line-height: 1.4;
  margin:0;
}
img {
  border-radius:4px;
}
.container {
  margin:0 auto;
  max-width: 1280px;
  padding-right: 40px;
  padding-left: 40px;

  @media(max-width: 600px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.hero {
  height:100vh;
  display: table-cell;
  vertical-align: middle;
  margin:0 auto;
  &__content {
      position: relative;
      height: 634px;
      max-width: 800px;
      display: table-cell;
      vertical-align: middle;
  }
  &__image {
      width: 600px;
      height: auto;
      position: absolute;
      right: 0;
      top: calc( 50vh - 317px );
      z-index: -100;
      opacity: 0.85;
      animation-name: main_image;
      animation-duration: 3s;
      transition: none;
  }
}
.header {
  padding: 30px 0 0;
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 20px;
    a {
        position: relative;
        margin-left: 26px;
        display: inline-block;
        font-size: 90%;
        color: #777;
        &:before {
          position: absolute;
          content: '';
          height: 1px;
          background: black;
          width: 0;
          left: -6px;
          top: calc(50% + 1px);
          right: 0;
          transition: all .3s;
        }
        &:hover {
          color: #000;
          opacity: 1;
        }
        &:hover:before {
          width: calc(100% + 12px);
        }
    }
}


.grid {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  &--single {
      grid-template-columns: 1fr;
      grid-gap: 0;
  }
  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  &-item {
      &:first-child {
          @media (min-width: 480px) {
            grid-area: 1 / 1 / span 2 / span 2;
        }
    }
  }
}
div#first-project {
    margin-top: 12em;
}
.project {
  margin-bottom: 8em;
}

.footer {
    font-size: 70%;
    padding-bottom: 50px;
}

.overlay {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.project-list__text {
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1280px;
    padding-left: 40px;
    margin: auto;

    h2 {
        color: #fff;
        font-size: 82px;
    }
}

.post-header {
    padding: 8rem 0 2rem;

    &__title {
      font-size: 110px;
      font-weight: 800;
      text-transform: capitalize;
      letter-spacing: -1px;
      max-width: 980px;
      @media(max-width: 1280px) {
        font-size: 9vw;
      }
      @media(max-width: 720px) {
        font-size: 12vw;
      }
    }
}
.post-list {
  margin: 3rem 0 5rem;
}
.post-list__title {
    margin-bottom: 1rem;
}
.post-list__meta {
    display: block;
    margin-bottom: 2.8rem;
}

.post-list__tags {
    display: inline-block;
}

.single-post {
  p, ol, ul {
    max-width: 860px;
    line-height: 1.4;
    margin-bottom: 2rem;
    font-size: 20px;
    @media(max-width: 720px) {
      font-size: 18px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

.post-hero {
  margin-bottom: 4rem;
  padding-bottom: 56%;
  position: relative;

  @media(min-width: 1099px) {
    padding-bottom: 44%;
  }
}

.post-footer-navigation {
    padding: 2rem 0 5rem;

    &__label {
      font-size: 74%;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: .75rem;
    }

    &__link {
      font-size: 1.2rem;
    }
}
